.App {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(8, 233, 188, 0.438),
    rgba(2, 65, 99, 0.7)
  );
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: grid;  
  place-items: center;
}
.sub-wrap{
  border: 1px solid black;
  border-radius: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.labels{
  border: 2px solid rgb(146, 81, 6);
  border-radius: 25%;
  padding: 10px;
  margin: 10px;
}
.sub-box{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.timer-box{
  border: 1px solid black;
  border-radius: 10%;
  padding: 30px 70px;
}
.controls{
  border: 1px solid black;
  border-radius: 15%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.sub-el{
  padding: 10px;
}
#time-left{
  font-weight:bolder;
}
#start_stop{
  margin-right: 5px;
}
#reset{
  margin-left: 5px;
}