.App {
  text-align: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(8, 233, 188, 0.438),
    rgba(2, 65, 99, 0.7)
  );
}
.wrapper{
  height: 100vh;
  width: 100vw;
  display: grid;  
  place-items: center;
}
.sub-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.labels{
  padding: 10px;
  margin: 10px;
}
.sub-box{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
